.Modal {
    display: none;
    color: var(--primary-color);
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--modal-background);
    z-index: var(--modal-index);
}

.content {
    max-width: 60%;
    padding: 20px;
    border-radius: 12px;
    background: var(--bg-color);
    transition: 0.3s transform;
    transform: scale(0.5);
}

.opened {
    display: block;
}

.scaled .content {
    transform: scale(1);
}
