.app-dark-theme {
    --bg-color: #5e69ee;
    --inverted-bg-color: #f4f4fb;
    --primary-color: #fff;
    --inverted-primary-color: #000;
    --secondary-color: #f4f4fb;
    --inverted-secondary-color: #39afea;

    // Skeleton
    --skeleton-color: #f4f4fb;
    --skeleton-shadow: #f4f4fb;

    // Code
    --code-bg: #4f5af3;
}
