.app-light-theme {
    --bg-color: #f4f4fb;
    --inverted-bg-color: #5e69ee;
    --primary-color: #000;
    --inverted-primary-color: #fff;
    --secondary-color: #39afea;
    --inverted-secondary-color: #f4f4fb;
}
