.app-light-theme {
    --bg-color: #e8e8e8;
    --inverted-bg-color: #063c7a;
    --primary-color: #03033e;
    --secondary-color: #1c1cd5;
    --inverted-primary-color: #0ac429;
    --inverted-secondary-color: #106003;
}
