.light {
    --bg-color: #e8e8e8;
    --inverted-bg-color: #159ae3;

    --primary-color: #03033e;
    --secondary-color: #1c1cd5;

    --inverted-primary-color: #106003;
    --inverted-secondary-color: #0ac429;
}