.app-purple-theme {
    --bg-color: #f9f4fb;
    --inverted-bg-color: #c421ff;
    --primary-color: #000;
    --inverted-primary-color: #fff;
    --secondary-color: #2500f5;
    --inverted-secondary-color: #f4f4fb;

    // Skeleton
    --skeleton-color: #c421ff;
    --skeleton-shadow: #c421ff;

    // Code
    --code-bg: #fff;

    // Card
    --card-bg: #bdbdbe;
}
