.app-purple-theme {
    --bg-color: #c421ff;
    --inverted-bg-color: #f9f4fb;
    --primary-color: #fff;
    --inverted-primary-color: #000;
    --secondary-color: #f4f4fb;
    --inverted-secondary-color: #2500f5;
}
