.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links {
    margin: 10px;
}

.btn {
    margin-left: auto;
}

.appName {
    width: var(--sidebar-width);
    font: var(--font-l);
}

.dropdown {
    margin-left: auto;
}
