.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.input {
    margin: 10px 0 0 10px;
}

.isLoading,
.error {
    height: 300px;
}

.edit {
    border: 2px solid var(--inverted-primary-color);
}
